@using FoodWasteReduction.Core.Enums
@model RegisterCanteenStaffViewModel

@{
    ViewData["Title"] = "Registreer kantinemedewerker";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center mb-4">@ViewData["Title"]</h2>
        <form asp-action="RegisterCanteenStaff" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" autocomplete="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="PersonnelNumber" class="control-label"></label>
                <input asp-for="PersonnelNumber" class="form-control" />
                <span asp-validation-for="PersonnelNumber" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Location" class="control-label"></label>
                <select asp-for="Location" class="form-select">
                    @foreach (var location in Enum.GetValues<Location>())
                    {
                        <option value="@location">@location</option>
                    }
                </select>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" autocomplete="new-password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group d-grid mb-3">
                <button type="submit" class="btn btn-primary">Registreer</button>
            </div>

            <div class="text-center bold">
                <p>Al een account? <a class="btn-link" asp-action="Login">Inloggen</a></p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}