@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welkom op Voedselschraper</h1>
    <p>Schraap de lekkerste hapjes en drankjes bij elkaar voor bijna niks!</p>
</div>
